<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="Suite ui" verbose="1" >
    <test name="ui">
        <packages>
            <package name="com.selenide.petclinic.tests"></package>
        </packages>

<!--        <classes>-->
<!--            <class name="com.selenide.petclinic.tests.SimpleTest"></class>-->
<!--        </classes>-->
    </test>
</suite>
